extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			span.entypo.entypo-cloud(font-size:40px)
			|   Мои тренировки
			| 
			a(href='/trainingnew', data-from=page.path).js-auth-trigger.btn.btn-primary.btn-small.mv-1
				span +добавить новую
			br
		if trainings.length
			each training in trainings
				if training
					.page-content.tile.ph-0.pv-2.mb-2
						.panel-heading
							- var id = server._id;
							span.entypo.entypo-cog
							|  #
							=training._id
							if status
								|  #{training.name} 
								font.bgreen предстоит
								|  [ 
								a(href='/training/' + id).text-muted перейти к управлению
								| ]
							else
								|  #{training.name} 
								font.bred закончена
								|   [ 
								a(href='/training/' + id).text-muted перейти к управлению
								|  ]
						br
						if training.stadium
							p.lead.ph-1 Площадка: #{training.stadium.name}
						p.lead.ph-1 Вид спорта: #{training.sport.name}
						p.lead.ph-1 Стоимость: #{training.cost}
						p.lead.ph-1 Имя пользователя: #{server.username}
						p.lead.ph-1 Пароль: #{server.password} 
							a(href='/resetpass/' + id).text-muted (сменить пароль)
						p.lead.ph-1 Пользователей (активно/всего): 
							a(href='/training/' + id + '/userlist/').text-muted #{server.users_used}/#{server.users_num}
						p.lead.ph-1 Тегов (активно/всего): #{server.tags_used}/#{server.tags_num}
						p.lead.ph-1 Дата регистрации услуги: #{server._.date.format('DD/MM/YYYY hh:mm:ss')}
						p.lead.ph-1 Дата окончания услуги: #{server._.date_end.format('DD/MM/YYYY hh:mm:ss')}
				else
					h3.text-muted Нет заказанных услуг

							
